VITE_API_URL=http://localhost:4000/api
VITE_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_CHAIN_ID=11155111
VITE_CONTRACT_ADDRESS="0xaFCB6CEf019c4dB0B3711A809ff63a80D747FCf4"
VITE_AUDIT_LOG_ADDRESS="0x49F21Cbc42b7083ffD752fF0c226D5C84A65b336"
VITE_IDENTITY_REGISTRY_ADDRESS="0xeF758B25C8e5C5880fa0f26a36A1eA66E9D04aB4"
VITE_ACCESS_CONTROL_ADDRESS="0xE1B252E8811DD52c83F6C9234D36Ca5E5FF552E7"
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
