NODE_ENV=development
PORT=4000
LOG_LEVEL=info
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://username:password@hostname:5432/dbname?sslmode=require"

# Ethereum Sepolia Blockchain
RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
AUDIT_LOG_ADDRESS="0x49F21Cbc42b7083ffD752fF0c226D5C84A65b336"
IDENTITY_REGISTRY_ADDRESS="0xeF758B25C8e5C5880fa0f26a36A1eA66E9D04aB4"
ACCESS_CONTROL_ADDRESS="0xE1B252E8811DD52c83F6C9234D36Ca5E5FF552E7"
CONTRACT_ADDRESS="0xaFCB6CEf019c4dB0B3711A809ff63a80D747FCf4"
ASSET_NFT_ADDRESS="0xaFCB6CEf019c4dB0B3711A809ff63a80D747FCf4"
DEPLOYER_PRIVATE_KEY=""

# Security & Cryptography
JWT_SECRET="trustchain-secret-key-32chars-min-len"
JWT_EXPIRES_IN=24h
DOSSIER_ENCRYPTION_KEY="32_byte_hex_key_here"

# Pinata IPFS Vault
PINATA_JWT=""
PINATA_API_KEY=""
PINATA_API_SECRET=""
PINATA_GATEWAY="https://gateway.pinata.cloud/ipfs"
